[req]
default_bits  = 8192
distinguished_name = req_distinguished_name
#req_extensions = req_ext
req_extensions= v3_req
x509_extensions = v3_req
prompt = no

[req_distinguished_name]
countryName = $CountryName
stateOrProvinceName=$State
localityName=$LocalityName
#organization=IT
organizationName=$OrganizationName
organizationalUnitName=$OrganizationUnit
emailAddress=$emailaddress
commonName=$CommonName

[req_ext]
subjectAltName = @alt_names

[v3_req]
extendedKeyUsage = serverAuth, clientAuth
subjectAltName = @alt_names
#extendedKeyUsage = serverAuth, clientAuth

[alt_names]
DNS.1=$CommonName
IP.1=$IpAdress
